/*--------------------------------------------------------------
>>> THEME CUSTOM CSS || DO NOT CHANGE THIS WITHOUT PROPER KNOWLEDGE
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Sidr
# Nicescroll
# Preloader
# Overlay
# Scrollup
# GDPR Notice
# Hamburger Menu
# WordPress Fix
# Gallery Columns
# WooCommerce Fix
# Website Layout
# Common
# Inner Banner
	## Inner Banner Main
	## Inner Banner Breadcrumb
# Pagination / WooCommerce Pagination
# Sidebar
# Blog Page
	## Blog Listing
		### Post (Style Default)
		### Post (Style One)
		### Post (Style Two)
		### Post (Style Three)
		### Post (Style Four)
		### Post (Style Five)
	## Blog Single Page
	## Blog No Result Page
# Shop Page
	## Product Listing Page
		### Shop Box (Style One)
		### Shop Box (Style Two)
		### Shop Box (Style Three)
		### Shop Box (Style Four)
		### Shop Box (Style Five)
	## Product Single Page
		### Shop Details Box (Style One)
		### Shop Details Box (Style Two)
		### Shop Details Box (Style Three)
		### Shop Attributes
		### Shop Reviews
		### Shop Related
	## Empty Cart Page
	## Login/Register Page
	## My Account Page
	## Cart Page
	## Checkout Page
	## Order Received Page
# Team Page
	## Team Single Page
		### Team Single Page Style One
# Event Page
	## Event Month View Page
	## Event List View Page
	## Event Day View Page
# 404 Error Page
	## 404 Error Style One
	## 404 Error Style Two
	## 404 Error Style Three
	## 404 Error Style Four
# Maintenance Mode Page
	## Maintenance Mode Style One
	## Maintenance Mode Style Two
	## Maintenance Mode Style Three
# Coming Soon Page
	## Coming Soon Style One
	## Coming Soon Style Two
	## Coming Soon Style Three
# Default Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* { margin: 0 auto; text-decoration: none !important; outline: none !important; }

img { width: auto; max-width: 100%; height: auto; border: 0; }

iframe { max-width: 100%; }

ul, ol { margin: 0; padding: 0; list-style: none; }

ol { list-style: decimal inside; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 15px; padding: 0; visibility: inherit !important; }

strong { font-weight: 600; }

p { margin-bottom: 20px; padding: 0; }

blockquote { margin: 0; padding: 0; border: none; }

label { font-weight: 400; }

del, del * { text-decoration: line-through !important; }

/*--------------------------------------------------------------
# Sidr
--------------------------------------------------------------*/
.sidr { display: block; position: fixed; top: 0; height: 100%; z-index: 999999; width: 260px; overflow-x: hidden; overflow-y: auto; }

.sidr.right { left: auto; right: -260px; }
.sidr.right .sidr-close { margin: 0; padding: 10px; background-color: rgba(0, 0, 0, 0.05); text-align: right; }

.sidr.left { left: -260px; right: auto; }
.sidr.left .sidr-close { float: left; margin-left: 15px; }

.sidr-close { margin-top: 10px; margin-bottom: 10px; font-size: 25px; line-height: 25px; cursor: pointer; }

/*--------------------------------------------------------------
# Nicescroll
--------------------------------------------------------------*/
.nicescroll-rails { z-index: 999 !important; background: rgba(0, 0, 0, 0.2); }

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader { position: fixed; z-index: 99999; top: 0; right: 0; bottom: 0; left: 0; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.preloader.loaded { opacity: 0; visibility: hidden; transform: scale(1.5); -webkit-transform: scale(1.5); }
.preloader > .table { display: table; table-layout: fixed; width: 100%; height: 100%; margin: 0; }
.preloader > .table > .table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; padding: 40px; text-align: center; }

/*--------------------------------------------------------------
# Overlay
--------------------------------------------------------------*/
body > .overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; content: " "; width: auto; height: auto; background: rgba(0, 0, 0, 0.65); opacity: 0; visibility: hidden; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

body.main-menu-open > .overlay { opacity: 1; visibility: visible; }

/*--------------------------------------------------------------
# Scrollup
--------------------------------------------------------------*/
body > .scrollup { position: fixed; bottom: 20px; width: 50px; height: 50px; z-index: 99; border-radius: 50%; text-align: center; cursor: pointer; opacity: 0.7; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

body > .scrollup.left { left: -50px; }

body > .scrollup.right { right: -50px; }

body > .scrollup.left.active { left: 15px; }

body > .scrollup.right.active { right: 15px; }

body > .scrollup:hover { background-color: rgba(37, 37, 37, 0.7); }

body > .scrollup i { font-size: 40px; color: #fff; line-height: 45px; }

/*--------------------------------------------------------------
# GDPR Notice
--------------------------------------------------------------*/
.gdpr-notice { position: fixed; bottom: 0; z-index: 99; margin: 0; padding: 20px 30px 17px 20px; border: none; border-radius: 0; font-weight: 300; color: #fff; }
.gdpr-notice .close { top: -12px; }
.gdpr-notice > .row { display: flex; flex-wrap: wrap; align-items: center; }
.gdpr-notice > .row p { margin: 0; }

/*--------------------------------------------------------------
# Hamburger Menu
--------------------------------------------------------------*/
#hamburger-menu { width: 100%; padding: 50px 60px 10px 60px; }

body.hamburger-menu-open #hamburger-menu { box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1); }

.hamburger-menu { position: relative; }

.hamburger-menu-close { position: absolute; top: -20px; right: -30px; z-index: 1; cursor: pointer; }
.hamburger-menu-close .hamburger-menu-close-lines { position: relative; width: 50px; height: 50px; background-color: #f5f5f5; border-radius: 50%; transform: rotate(45deg); -webkit-transform: rotate(45deg); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.hamburger-menu-close .hamburger-menu-close-lines:hover { background-color: #2a2829; }
.hamburger-menu-close .hamburger-menu-close-lines > span { position: absolute; background-color: #2a2829; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.hamburger-menu-close .hamburger-menu-close-lines > span:nth-child(1) { top: 15px; bottom: 15px; left: 50%; width: 2px; margin-left: -1px; }
.hamburger-menu-close .hamburger-menu-close-lines > span:nth-child(2) { top: 50%; left: 15px; right: 15px; height: 2px; margin-top: -1px; }
.hamburger-menu-close:hover .hamburger-menu-close-lines > span { background-color: #f5f5f5; }

.hamburger-menu-main .widget { margin-bottom: 40px; }
.hamburger-menu-main .widget-title { position: relative; margin-bottom: 30px; padding-bottom: 12px; text-transform: uppercase; font-weight: 600; font-size: 20px; color: #252525; line-height: 28px; letter-spacing: -0.5px; }
.hamburger-menu-main .widget-title:before { position: absolute; bottom: 0; left: 0; z-index: 0; content: " "; width: 27px; height: 2px; }
.hamburger-menu-main .widget-title a { color: inherit; }
.hamburger-menu-main .hamburger-menu-main p { margin-bottom: 15px; font-weight: 400; font-size: 16px; color: #636363; line-height: 30px; }
.hamburger-menu-main .hamburger-menu-main p strong { font-weight: 500; }
.hamburger-menu-main .textwidget { margin-bottom: 20px; }
.hamburger-menu-main .textwidget > *:last-child { margin-bottom: 0 !important; }
.hamburger-menu-main .widget_media_image { width: 100%; text-align: left !important; }
.hamburger-menu-main .widget_media_image img { width: 200px; margin: 0; }
.hamburger-menu-main .widget_nav_menu { width: 100%; margin-top: 20px; margin-bottom: 30px; text-align: center !important; }
.hamburger-menu-main .widget_nav_menu ul li { margin-bottom: 15px; font-weight: 600; font-size: 28px; color: #0c121f; line-height: 35px; }
.hamburger-menu-main .widget_nav_menu ul li a { color: inherit; }
.hamburger-menu-main .widget_nav_menu ul li a:after { content: "."; color: #b2b2b2; }
.hamburger-menu-main .widget_nav_menu ul li.menu-item-has-children > a > .radiantthemes-open-submenu { margin-left: 10px; }
.hamburger-menu-main .widget_nav_menu ul li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.hamburger-menu-main .widget_nav_menu ul li ul { margin-top: 10px; }
.hamburger-menu-main .widget_nav_menu ul li ul li { font-size: 25px; line-height: 30px; }
.hamburger-menu-main .widget_categories ul, .hamburger-menu-main .widget_pages ul, .hamburger-menu-main .widget_archive ul, .hamburger-menu-main .widget_meta ul, .hamburger-menu-main .widget_recent_entries ul, .hamburger-menu-main .widget_recent_comments ul, .hamburger-menu-main .widget_product_categories ul, .hamburger-menu-main .widget_rss ul { margin-bottom: 20px; }
.hamburger-menu-main .widget_categories ul:after, .hamburger-menu-main .widget_pages ul:after, .hamburger-menu-main .widget_archive ul:after, .hamburger-menu-main .widget_meta ul:after, .hamburger-menu-main .widget_recent_entries ul:after, .hamburger-menu-main .widget_recent_comments ul:after, .hamburger-menu-main .widget_product_categories ul:after, .hamburger-menu-main .widget_rss ul:after { content: " "; display: block; clear: both; }
.hamburger-menu-main .widget_categories ul li, .hamburger-menu-main .widget_pages ul li, .hamburger-menu-main .widget_archive ul li, .hamburger-menu-main .widget_meta ul li, .hamburger-menu-main .widget_recent_entries ul li, .hamburger-menu-main .widget_recent_comments ul li, .hamburger-menu-main .widget_product_categories ul li, .hamburger-menu-main .widget_rss ul li { clear: both; padding-top: 12px; padding-bottom: 12px; border-bottom: 1px rgba(0, 0, 0, 0.1) solid; font-weight: 400; font-size: 15px; color: #0c121f; line-height: 26px; }
.hamburger-menu-main .widget_categories ul li:last-child, .hamburger-menu-main .widget_pages ul li:last-child, .hamburger-menu-main .widget_archive ul li:last-child, .hamburger-menu-main .widget_meta ul li:last-child, .hamburger-menu-main .widget_recent_entries ul li:last-child, .hamburger-menu-main .widget_recent_comments ul li:last-child, .hamburger-menu-main .widget_product_categories ul li:last-child, .hamburger-menu-main .widget_rss ul li:last-child { border-bottom: none; }
.hamburger-menu-main .widget_categories ul li a, .hamburger-menu-main .widget_pages ul li a, .hamburger-menu-main .widget_archive ul li a, .hamburger-menu-main .widget_meta ul li a, .hamburger-menu-main .widget_recent_entries ul li a, .hamburger-menu-main .widget_recent_comments ul li a, .hamburger-menu-main .widget_product_categories ul li a, .hamburger-menu-main .widget_rss ul li a { color: inherit; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.hamburger-menu-main .widget_categories ul li ul, .hamburger-menu-main .widget_pages ul li ul, .hamburger-menu-main .widget_archive ul li ul, .hamburger-menu-main .widget_meta ul li ul, .hamburger-menu-main .widget_recent_entries ul li ul, .hamburger-menu-main .widget_recent_comments ul li ul, .hamburger-menu-main .widget_product_categories ul li ul, .hamburger-menu-main .widget_rss ul li ul { margin-top: 10px; margin-bottom: 0; margin-left: 20px; /*font-size:90%;*/ }
.hamburger-menu-main .widget_categories ul li ul li ul, .hamburger-menu-main .widget_pages ul li ul li ul, .hamburger-menu-main .widget_archive ul li ul li ul, .hamburger-menu-main .widget_meta ul li ul li ul, .hamburger-menu-main .widget_recent_entries ul li ul li ul, .hamburger-menu-main .widget_recent_comments ul li ul li ul, .hamburger-menu-main .widget_product_categories ul li ul li ul, .hamburger-menu-main .widget_rss ul li ul li ul { /*font-size:90%;*/ }
.hamburger-menu-main .widget_categories ul li .post-date, .hamburger-menu-main .widget_pages ul li .post-date, .hamburger-menu-main .widget_archive ul li .post-date, .hamburger-menu-main .widget_meta ul li .post-date, .hamburger-menu-main .widget_recent_entries ul li .post-date, .hamburger-menu-main .widget_recent_comments ul li .post-date, .hamburger-menu-main .widget_product_categories ul li .post-date, .hamburger-menu-main .widget_rss ul li .post-date { display: block; position: relative; margin-top: 6px; padding-left: 22px; font-weight: 500; font-size: 85%; color: rgba(0, 0, 0, 0.7); }
.hamburger-menu-main .widget_categories ul li .post-date:before, .hamburger-menu-main .widget_pages ul li .post-date:before, .hamburger-menu-main .widget_archive ul li .post-date:before, .hamburger-menu-main .widget_meta ul li .post-date:before, .hamburger-menu-main .widget_recent_entries ul li .post-date:before, .hamburger-menu-main .widget_recent_comments ul li .post-date:before, .hamburger-menu-main .widget_product_categories ul li .post-date:before, .hamburger-menu-main .widget_rss ul li .post-date:before { position: absolute; top: 0; left: 0px; z-index: 0; content: "\f017"; font-family: 'FontAwesome'; }
.hamburger-menu-main .widget_rss ul li .rss-date, .hamburger-menu-main .widget_rss ul li .rssSummary, .hamburger-menu-main .widget_rss ul li cite { color: rgba(255, 255, 255, 0.6); }
.hamburger-menu-main .widget_calendar { margin-top: 10px; margin-bottom: 20px; }
.hamburger-menu-main .widget_calendar .calendar_wrap table { width: 100%; table-layout: fixed; border: 1px rgba(0, 0, 0, 0.2) solid; }
.hamburger-menu-main .widget_calendar .calendar_wrap table tr { background-color: initial; }
.hamburger-menu-main .widget_calendar .calendar_wrap table tr th, .hamburger-menu-main .widget_calendar .calendar_wrap table tr td { padding: 4px !important; border: 1px rgba(0, 0, 0, 0.2) solid; text-align: center; font-weight: 400; font-size: 80%; color: #fff; }
.hamburger-menu-main .widget_calendar .calendar_wrap table tr th a, .hamburger-menu-main .widget_calendar .calendar_wrap table tr td a { color: inherit; }
.hamburger-menu-main .widget_calendar caption { color: rgba(0, 0, 0, 0.8); }
.hamburger-menu-main .rt-twitter-box ul li { position: relative; margin-bottom: 15px; padding: 0px 0px 0px 30px; border-bottom: none; }
.hamburger-menu-main .rt-twitter-box ul li:before { position: absolute; top: 1px; left: 0; z-index: 0; content: "\f099"; font-family: "FontAwesome"; }
.hamburger-menu-main .rt-twitter-box ul li .tweet { margin-bottom: 0; }
.hamburger-menu-main .rt-twitter-box ul li .interact { display: none; }
.hamburger-menu-main .hamburger-menu-main input[type="text"], .hamburger-menu-main .hamburger-menu-main input[type="email"], .hamburger-menu-main .hamburger-menu-main input[type="search"], .hamburger-menu-main .hamburger-menu-main select { width: 100%; height: 60px; margin-bottom: 12px; padding-left: 20px; padding-right: 20px; background-color: #f7f9f9; border: none; border-radius: 35px; font-weight: 300; font-size: 16px; color: #0c121f; line-height: 26px; }
.hamburger-menu-main .hamburger-menu-main input[type="submit"], .hamburger-menu-main .hamburger-menu-main input[type="button"], .hamburger-menu-main .hamburger-menu-main button[type="submit"], .hamburger-menu-main .hamburger-menu-main button[type="button"] { height: 60px; padding: 10px 25px 10px 25px; border: none; border-radius: 35px; text-transform: uppercase; font-weight: 400; font-size: 15px; color: #0c121f; line-height: 26px; }
.hamburger-menu-main .widget_search form.search-form { position: relative; }
.hamburger-menu-main .widget_search form.search-form > label { width: 100%; }
.hamburger-menu-main .widget_search form.search-form button[type="submit"] { position: absolu